<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%=data.title%>">
    <meta name="keywords" content=<%=data.tech%>>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@codebondco" />
    <meta name="author" content=<%=data.username%>>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content=<%=data.title%>>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/codebond.ico" />
    <link rel="canonical" href=<%="http://codebond.co"+data.url%>>
    <!-- Initialize EnlighterJS -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:400|Ubuntu|Ubuntu+Condensed|Ubuntu+Mono&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/grid.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147948621-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-147948621-1');
    </script>

    <!-- google ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2650533982969945",
            enable_page_level_ads: true
        });
    </script>

    <title><%=data.title %></title>
    <style>
        .author span {
            font-size: 14px;

        }

        .space {
            padding: 0px 6px;
        }
    </style>
</head>

<body>

    <%- include('component/navbar')  %>

    <div class="rootcontainer">
        <%- include('component/content')  %>
        <%- include('component/comment') %>
    </div>


    </div>

    <!-- footer-section -->
    <%- include('component/footer')  %>

    <!-- Optional JavaScript -->
    <script src="/static/scripts/dist/lazyloading.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/scripts/dist/postjs.js"></script>
    <script>
        document.querySelector(".search").style.display = "none"
        let title = document.querySelector(".heading").textContent.replace(/\s/g, "%20");
        let fullURL = window.location;
        let newURL = fullURL.href
        let url   = newURL.replace(/\//g, "%2F").replace(/:/g,"3A");

         $('#twitter-link').attr({
            href: `https://twitter.com/intent/tweet?text=${title}&url=${url}`,
            target:"_blank",
            rel:"noopener noreferrer",
            title: "twitter"
        });
        $('#facebook-link').attr({
            href:`https://www.facebook.com/sharer.php?u=${window.location.href}`,
            target:"_blank",
            rel:"noopener noreferrer",
            title: "facebook"
        });
    </script>


</body>

</html>
