<div class="container-fluid home">
    <!-- new post -->
    <div class="row justify-content-center newpost">
        <div class="div col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12">
            <div class="cont col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="image">
                        <a href="https://m.do.co/c/9e3993fcd43d">
                                <img src="https://res.cloudinary.com/saudchougle/image/upload/v1575783173/y8hlihinevtf2boolrfg.png" class="img-fluid">
                            </a>
                        
                </div>    
                        <div class="details">
                               
                                <div class="description">
                                    <h1 class="title">Move your project from localhost to live server.</h1>
                                </div>
                                <div class="description">
                                        <p style="color: #54595D;">DigitalOcean is a simple and developer-friendly cloud hosting platform.</p>

                                </div>
                
                                <div class="read"><a role="button" class="btn btn-sm btn-primary" href="https://m.do.co/c/9e3993fcd43d">Get <b>100</b>$ free credit</a></div>
                            </div>
                </div>
            <% Res.forEach((post,i)=>{%>
            <div class="cont col-lg-12 col-md-12 col-sm-12 col-12">

                <% if(post.img){ 
                    if(post.img.url){ %>
                     <div class="image">
                         <img src="/static/images/ph.png" class="lazy img-fluid" alt=<%=post.slug%> data-src=<%= post.img.url %>>
                     </div>
                    <%}else if(post.img && post.img.url !== null){ %>
                     <div class="image">
                         <img src="/static/images/ph.png" class="lazy img-fluid" alt=<%=post.slug%> data-src=<%= post.img %>>
                     </div>  
                   <% }
              } %>
                <div class="details">
                    <div class="info">
                        <a href=<%="/"+post.username %>> <img class="profilepic" src=<%=post.profilePic%> alt="P"></a>
                        <div class="nameblock">
                            <span aria-label="author name" class="author"><a
                                    href=<%="/"+post.username %>><%= post.name %></a></span>
                            <span aria-label="published date" class="time"><%= post.date %></span>
                        </div>

                        <div class="tech">
                            <a href=<%="/tutorial/"+post.tech %>><span aria-label=<%=post.tech %>
                                    class="badge badge-dark" id=<%= post.tech %>><%= post.tech %></span>
                            </a>
                        </div>
                    </div>
                    <div class="description">
                        <h1 class="title"><%=post.title %></h1>
                    </div>

                    <div class="read"><a role="button" class="btn btn-sm btn-outline-primary" href=<%=post.url%>>Read
                            now</a></div>
                </div>
            </div>

            <% }) %>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-12 message">
            <div>
                <h2 class="text-center">No more posts found</h2>
            </div>
        </div>


    </div>

</div>