<div class="row justify-content-center content-section">
        <% if(data.img){ %>
            <div class="myimage col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12">
                    <img src=<%=data.img%> alt="image" class="rounded img-fluid">
            </div>
        <% } %>
            
            <%- include('hero') %>

            <%- include('tableofcontent') %>

            <% data.post.forEach((el,i)=>{ %>
            <% switch(el.type){
                    case "header": %>
                    <div class="header col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
                        <% switch(el.data.level){
                            case 1: %>
                               <h2 id=<%=el.data.text.toLowerCase().replace(/\s/g, '')%>><a href=<%="#"+el.data.text.toLowerCase().replace(/\s/g, '') %>><%= el.data.text %></a></h2>
                               
                         <% break;
                            case 2: %>
                               <h2 id=<%=el.data.text.toLowerCase().replace(/\s/g, '')%>><a href=<%="#"+el.data.text.toLowerCase().replace(/\s/g, '') %>><%= el.data.text %></a></h2>
                         <% break; 
                            case 3: %>
                               <h3><%= el.data.text %></h3>
                         <% break; 
                            case 4: %>
                               <h4><%= el.data.text %></h4> 
                         <% break; 
                            case 5: %>
                               <h5><%= el.data.text %></h5> 
                         <% break; 
                            case 6: %>
                               <h5><%= el.data.text %></h5>
                         <% break; 
                         } %> 
                    </div>
            <% break;
                
                 case "paragraph": %>
            <div class="exp col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
                <p class="para"><%= el.data.text %></p>
            </div>
            <% break;
                
                 case "image": %>
                 <% if(el.data.stretched){ %>
                    <div class="myimage col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12">
                            <img src="/static/images/ph.png" data-src=<%=el.data.url%>   class="rounded lazy img-fluid" alt="photo">
                        </div>
                 <%}else{%>
                    <div class="myimage col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
                            <img src="/static/images/ph.png" data-src=<%=el.data.url%>   class="rounded lazy img-fluid" alt="photo">
                        </div>
                 <%}%>
            <% break;
     
                 case "code": %>
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 code">
                <pre>
<%= el.data.code%>
</pre>
            </div>
            <% break;
     
            case "quote": 
              if(el.data.text.length > 0){ %>

            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 quote">
                <p class="para"><%= el.data.text %></p>
                <% if(el.data.caption) {%>
                <p class="text-right" style="font-size: 16px;"><%= el.data.caption %></p>
                <% } %>
            </div>
            <% } %>
            <% break;
                   case "warning": %>

            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 warning">
                <p class="para"><%= el.data.message %></p>
            </div>
            <% break;
                 case "list": %>
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 list">
                <% if(el.data.style === "unordered") {%>
                <ul>
                    <% el.data.items.forEach((element)=>{ %>
                    <li><%= element %></li>
                    <% }) %>
                </ul>
                <% }else{ %>
                <ol>
                    <% el.data.items.forEach((element)=>{ %>
                    <li><%= element %></li>
                    <% }) %>
                </ol>
                <% } %>
            </div>
            <% break;
                    case "embed": %>

            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12 rounded embed embed-responsive embed-responsive-16by9">
                <iframe src=<%=el.data.embed %> class="shadow embed-responsive-item" frameborder="0" allowfullscreen
                    loading="lazy"></iframe>
            </div>
            <% break;
                  }
             }); %>
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2650533982969945"
                    data-ad-slot="9478858443" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
</div>