<div class="navcontainer">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a aria-label="brand logo" role="button" class="navbar-brand" href="/">
            <div class="d-inline-block">
                <img src="/static/images/codebond.svg" style="width: 55px !important;height: 55px !important;" class="brand d-inline-block align-center" alt="codebond logo" />
            </div>
            
        </a>
       
        <div>
            


            <div class="right-section" >
                    <button class="btn btn-sm btn-primary" id="save" data-tippy-content="Ctrl+s">Save</button>
                     <button class="btn btn-success btn-sm publishbtn" disabled>Publish</button>
                     <button class="btn btn-dark btn-sm clear" data-tippy-content="Ctrl+l">Clear</button>

                    
                    
                    <% if(user) {   %>

                    <img aria-label="dropdown menu" src=<%=user.profilePic%> class="dropdown-toggle" width="40" height="40" 
                        id="dropdownMenu2" data-toggle="dropdown" 
                        data-tippy=<%=user.name%> alt="profile picture">

                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right" aria-labelledby="dropdownMenu2" data-tippy-content="Tooltip">
                            <a role="button" aria-label="profile" class="dropdown-item" href=<%="/"+user.username%>>
                                    <img src="/static/images/profile.svg" width="40" height="40" alt="profile"> profile</a>
                            <a role="button" aria-label="setting" class="dropdown-item" href=<%="/"+user.username+"/setting"%>>
                                <img src="/static/images/setting.svg" width="40" height="40" alt="setting"> setting</a>
                       

                        <a role="button" aria-label="write" href=<%="/"+user.username+"/write"%> class="dropdown-item">
                            <img src="/static/images/write.svg" width="40" height="40" alt="write"> write</a>

                        <a role="button" role="logout" class="dropdown-item" style="border-bottom-left-radius: 6px;" href="/auth/logout">
                            <img src="/static/images/logout.svg" width="40" height="40" alt="logout"> logout</a>

                    </div>
                    <% }else{ %>

                    <a role="button" aria-label="login" href="/auth/login" class="btn btn-sm btn-primary login">login</a>
                    <% } %>
           




            </div>
        </div>

    </nav>
</div>